:root {
	--bg-color: #ffffff;
	--light-bg-color: #f5f5f5;
	--text-color: #121212;
	--light-text-color: #212121;

	--correct: #538d4e;
	--present: #b59f3b;
	--absent: #3a3a3c;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #121212;
		--light-bg-color: #212121;
		--text-color: #ffffff;
		--light-text-color: #f5f5f5;
	}
}
